/Cuttinz/*
/CATTs_Scotland/*
/1971/*
/1981/*
/1991/*
/2001/*
/QGIS/*
/2011/*
/temp/*
/Geoff/*
/shp_local/*
/Housing/*
/R_outputs/*
#/regressionOutputs/*
/otherCensusData/*
/flowData/*
/rothShefOutputs/*
/R_data/*
/Definitions/*
/.Rproj.user/*
.Rhistory
.Rproj.user
.RData
.sync/*
*.Rproj
*.pyc
econinactive_percents_england91wards*

!R_data/sheet5.rds
!R_data/sheet3census.rds
!R_data/sheet5AllScotsAllbutROW.rds
!R_data/citySheets5AllScotsAllbutROW.rds
!R_data/sheet5AllScotstworichpoor.rds
!R_data/citySheets5AllScotstworichpoor.rds

